In [1]:
# Coefficient value from the Multivariate analysis
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
df1 = pd.read_csv('RS_C_c.csv', index_col=0)
df1

,Variable,Coefficient,HR,Standard_Error,Z_Value,P_Value_coef,P_value
CASP2,CASP2,0.874428,2.397503,0.300956,2.905496,0.003667,0.00003
HCN4,HCN4,0.412525,1.510627,0.124981,3.300698,0.000964,0.00003
LRRC69,LRRC69,0.264165,1.302343,0.097276,2.715622,0.006615,0.00003
SRD5A1,SRD5A1,0.500076,1.648846,0.193317,2.586812,0.009687,0.00003

In [2]:
# Expression data 

DF1 = pd.read_csv('RNA_SEQ.csv', index_col=0)
DF1

              OS_MONTH  OS_STATUS      CASP2      HCN4    LRRC69    SRD5A1
P_ID
TCGA-AF-2687     46.91          0  10.338449  1.645517  1.829565  9.130280
TCGA-3L-AA1B     15.61          0  10.708765  1.552967  2.420078  8.691659
TCGA-4N-A93T      4.80          0  10.609363  0.000000  0.569297  9.017294
TCGA-4T-AA8H     12.65          0  10.258458  0.000000  2.922217  8.686129
TCGA-5M-AAT4      1.61          1  10.936411  0.000000  3.841883  9.497914
...                ...        ...        ...       ...       ...       ...
TCGA-G5-6233     18.27          1  10.321295  0.964879  2.265347  9.071160
TCGA-G5-6235     55.72          0  10.398541  0.541217  1.899678  8.894188
TCGA-G5-6572     47.04          1   9.685264  1.387087  1.304569  8.440980
TCGA-G5-6572     47.04          1   9.308640  4.589272  2.403922  9.987384
TCGA-G5-6641     26.41          0  10.343756  0.000000  3.144830  9.560185

[371 rows x 6 columns]

# Calculation of Sample specific Risk score

In [3]:
rs_c = pd.DataFrame()
for i in df1.index.values:
    DF=DF1[i].astype(float)*df1.loc[i][1]
    rs_c[i] = DF.copy()
RS_C = rs_c.sum(axis=1)
RS_C = pd.DataFrame(RS_C, columns=['RS'])
C = pd.merge(DF1[['OS_MONTH' , 'OS_STATUS']], RS_C, left_index=True, right_index=True)
C.to_csv('RS_c.csv')

In [11]:
rs_m2 = pd.DataFrame()
for i in df3.index.values:
    DF=DF3[i].astype(float)*df3.loc[i][1]
    rs_m2[i] = DF.copy()
RS_M2 = rs_m2.sum(axis=1)
RS_M2 = pd.DataFrame(RS_M2, columns=['RS'])
M2 = pd.merge(DF3[['OS_MONTH' , 'OS_STATUS']], RS_M2, left_index=True, right_index=True)
M2.to_csv('RS_m2.csv')